name: Infinito27 CD

on: 
  push:
    branches: [ "master" ]

jobs:
  deploy:
    name: Deploy to Linode Server
    runs-on: ubuntu-latest
    steps:

      # ---------------------------------------------- #
      # Reference:
      # https://github.com/marketplace/actions/ssh-remote-commands
      - name: Pull newest changes from master
        uses: appleboy/ssh-action@master 
        with:
          host: ${{ secrets.LINODE_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /var/www/infinito27
            git fetch
            git pull origin master
      
      # ---------------------------------------------- #
      - name: Build the Website
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LINODE_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /var/www/infinito27/website
            npm run build

